location             = "West Europe"
acr_name             = "webticksprd"
app_service_name     = "webticks-api-prd"
sku_name             = "B2"
cosmos_account_name  = "webticks-prd-cosmos"
cosmos_database_name = "webticks"
jwt_secret           = "your-secret-here"
